.aboutContainer {
    /* display: flex;
    align-items: center; */
    background-image: url('/pexels-martinpechy-304664.jpg');
    background-size: cover;
    /* 或 contain */
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 5rem 2rem;
    box-sizing: border-box;
    /* 確保邊距和填充不會影響總寬度 */
}


.contentWrapper {
    position: relative;
    z-index: 2;
    max-width: 1280px;
    margin: 0 auto;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: left;
}

/* 新增包裹層，用於整體移動 */
.mainContentWrapper {
    /* margin-bottom: 2rem; */
}

.mainContent {
    display: flex;
    justify-content: space-around;

}

.textColumn {
    display: flex; /* 使其成為 flex 容器 */
    flex-direction: column; /* 垂直排列子元素 */
    justify-content: space-between; /* 使內容均勻分佈 */
}

.imageColumn {
    position: relative;
}

.introText {
    padding: 1rem;
    font-size: 1.2rem;
    line-height: 1.8;
}

.learnButton {
    margin-top: 1rem;
    padding: 1.5rem 2.5rem;
    border-radius: 50px;
    font-size: 1.2rem;
    color: #000;
    /* 默認文字顏色 */
    border: 2px solid #d9d9d9;
    /* 默認外框顏色 */
    background-color: #fff;
    /* 默認背景顏色 */
    transition: all 0.3s ease;
    /* 增加過渡效果 */
}

.learnButton:hover,
.learnButton:focus,
.learnButton:active {
    color: #5BC1C5 !important;
    /* 按下時文字顏色 */
    border-color: #5BC1C5 !important;
    /* 按下時邊框顏色 */
    outline: none;
    /* 移除默認黑色聚焦樣式 */
    box-shadow: none;
    /* 避免外框陰影產生黑色效果 */
}

.imageWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.profileImage {
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
}


.contentColumn {
    margin: 1.3rem;
    background-color: #ffffff;
    /* margin: 0.1rem; */
    border-radius: 15px;
    aspect-ratio: 1;
    display: flex;
    /* 使用 flex */
    justify-content: center;
    /* 水平置中 */
    align-items: center;
    /* 垂直置中 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
    /* 混合兩層陰影 */
}

.habbitBox {
    /* aspect-ratio: 1; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 90%;
    /* 根據需求調整大小 */
    height: 90%;
    /* 讓它根據父容器大小自適應 */
    /* background-color: #fff; */
}

.habbitBox img {
    padding-top: 1rem;
    width: 4rem;
}

.habbitBox h3 {
    font-size: 1.2rem;
}

@media(max-width:1024px) {
    .aboutContainer {
        min-height: 50vh;
        padding: 2rem 0rem;
        padding-bottom: 5rem;
    }
    .title{
        text-align: center;
        margin-bottom: 2rem;
    }
    .introText {
        padding: 1rem;
        font-size: 1.8rem;
        line-height: 1.8;
        text-align: center;
    }
    .habbitBox {
        /* aspect-ratio: 1; */
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 40%;
        /* 根據需求調整大小 */
        height: 40%;
        /* 讓它根據父容器大小自適應 */
        /* background-color: #fff; */
    }
    
    .habbitBox img {
        padding-top: 1rem;
        width: 5rem;
    }
    
    .habbitBox h3 {
        font-size: 1.2rem;
    }
}

@media (max-width: 440px) {
    .aboutContainer {
        width: 87%;
        overflow-x: hidden;
        padding: 0rem 1rem;
        /* padding-bottom: 5rem; */
    }

    .introText {
        font-size: 1.2rem;
        padding: 0.5rem;
    }

    .mainContentWrapper {
        will-change: transform;
        position: relative;
        margin-bottom: 2rem;
    }

    .mainContent {
        padding: 1rem;
        padding-bottom: 3rem;
    }

    .imageWrapper {
        margin-top: 2rem;
    }
    .habbitBox img {
        padding-top: 1rem;
        width: 3rem;
    }
    .rowContainer{
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 420px){
    .aboutContainer {
        width: 84%;
        overflow-x: hidden;
        padding: 2rem 1rem;
        /* padding-bottom: 5rem; */
    }
}
@media (max-width: 400px){
    .aboutContainer {
        width: 79%;
        overflow-x: hidden;
        padding: 2rem 1rem;
        /* padding-bottom: 5rem; */
    }
}