/* PortfolioGallery.module.css */
.portfolioContainer {
    overflow: hidden;
    background-image: url('/pexels-scottwebb-3255761.jpg');
    background-size: contain;
    /* background-attachment: fixed; */
    display: flex;
    flex-direction: column;
    /* padding: 5rem 2rem; */
    padding-bottom: 2rem;
    /* z-index: -1; */
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 2rem 0rem; */
    margin: 2rem;
}

.title h1 {
    color: #000000;
    font-size: 2.5rem;
}

.segmented {
    display: flex;
    justify-content: center;
    /* 水平置中整個 Segmented */
    align-items: center;
    /* 確保內部選項內容垂直置中 */
    border-radius: 10px;
    padding: 0.5rem 1.2rem;
    font-size: 1.5rem;
    background-color: #B3D2D3;
    margin: 2rem;
}

.portfolioRow {
    display: flex;
    justify-content: center;
    padding: 4rem 6rem;
    padding-top: 0rem;
}

.portfolioCard {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    border-radius: 0;
    /* 確保沒有圓角 */
}

.portfolioCard:hover {
    transform: translateY(-5px);
}

.imageContainer {
    overflow: hidden;
    aspect-ratio: 16/9;
}

.portfolioImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.portfolioCard:hover .portfolioImage {
    transform: scale(1.1);
}

.cardTitle {
    font-size: 18px;
    font-weight: bold;
}

.cardDescription {
    font-size: 16px;
    /* padding-bottom: 2rem; */
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.portfolioModal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalBigTitle {
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0;
    text-align: center;
}

.modalContent {
    padding: 0.5rem;
}

.modalImage {
    aspect-ratio: 16/9;
    width: 720px;
}

.modalDescription {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    font-size: 1.5rem;
}

.modalDescription p {
    margin: 0.5rem 0rem;
}

.modaltitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0;
    display: flex;
}

.modaledscription {
    font-size: 1.2rem;
    margin: 1.5rem 0;
}

.modalButton {
    padding: 1.5rem 1.5rem;
    border-radius: 50px !important;
    font-size: 1rem;
    color: #000000;
    background-color: #ebf6f6;
    border-color: #B3D2D3;
    border-width: 3px;
    border-radius: 15px;
    margin-top: 10rem;
    align-self: flex-end;
    /* 將按鈕移到右側 */
    margin-top: 1rem; 
    /* 將按鈕推到底部 */
}

.modalButton:hover {
    background-color: #B3D2D3 !important;
    color: #ffffff;
}

/* RWD 樣式調整 */
@media screen and (max-width: 576px) {
    .portfolioContainer {
        display: flex;
        /* justify-content: space-around; */
        padding: 0 2rem;
        flex-direction: column;
    }

    .title {
        padding-top: 4rem;
    }

    .portfolioRow {
        display: flex;
        justify-content: center;
        padding: 4rem 0rem;
    }

    .portfolioCol {
        margin-bottom: 1rem;
    }

    .imageContainer {
        height: 180px;
    }

    .cardTitle {
        font-size: 16px;
    }

    .cardDescription {
        font-size: 13px;
    }
}