.footer {
    background-color: #5BC1C5;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.socialMedia {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.icon {
    font-size: 3rem !important;
    /* 使用具體的像素值 */
    color: black;
}

.footerText {
    font-size: 1.2rem;
    margin: 0;
}

@media screen and (max-width: 440px) {
    .footer {
        width: 87%;
    }
}
@media screen and (max-width: 420px) {
    .footer {
        width: 84%;
    }
}