.aboutContainer {
  display: flex;
  align-items: center;
  background-color: #5BC1C5;
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  padding: 5rem 2rem;
  /* 確保邊距和填充不會影響總寬度 */
}


.contentWrapper {
  position: relative;
  z-index: 2;
  max-width: 1280px;
  margin: 0 auto;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: left;
}

.sideTitle{
  font-size: 1.2rem;
  text-align: left;
}

/* 新增包裹層，用於整體移動 */
.mainContentWrapper {
  /* margin-bottom: 2rem; */
}

.mainContent {
  display: flex;
  justify-content: space-around;
  /* padding: 2rem; */
}

.textColumn{
  display: flex;
  align-items: center;
}
.imageColumn {
  position: relative;
}

.introText {
  padding: 1rem;
  font-size: 1.2rem;
  line-height: 1.8;
}

.learnButton{
  margin-top: 1rem;
  padding: 1.5rem 2.5rem;
  border-radius: 50px;
  font-size: 1.2rem;
  color: #000; /* 默認文字顏色 */
  border: 2px solid #d9d9d9; /* 默認外框顏色 */
  background-color: #fff; /* 默認背景顏色 */
  transition: all 0.3s ease; /* 增加過渡效果 */
}
.learnButton:hover,
.learnButton:focus,
.learnButton:active {
  color: #5BC1C5 !important; /* 按下時文字顏色 */
  border-color: #5BC1C5 !important; /* 按下時邊框顏色 */
  outline: none; /* 移除默認黑色聚焦樣式 */
  box-shadow: none; /* 避免外框陰影產生黑色效果 */
}

.imageWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.profileImage {
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: cover;
}

@media(max-width:1024px) {
  .aboutContainer {
    flex-wrap: wrap;
    min-height: 50vh;
    padding: 1rem 3rem;
  }
  .title {
    font-size: 2rem;
  }
  
  .sideTitle{
    font-size: 1.2rem;
    text-align: left;
  }
  .profileImage{
    max-width: 90%;
  }
}

@media (max-width: 440px) {
  .aboutContainer {
    width: 87%;
    overflow-x: hidden;
    padding: 5rem 1rem;
    padding-bottom: 1rem;
  }

  .introText {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .mainContentWrapper {
    will-change: transform;
    position: relative;
    margin-bottom: 2rem;
  }
  .textColumn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* 確保寬度為100% */
  }
  .title {
    font-size: 1.5rem;
    text-align: center;
  }
  .sideTitle{
    font-size: 1.2rem;
    text-align: center;
  }
  .learnButton{
    left: 26%;
    margin: 1rem auto; /* 上下邊距 1rem，左右自動 */
  }
  .profileImage{
    max-width: 70%;
  }
  .mainContent {
    display: flex;
    flex-direction: column; /* 改為垂直排列以避免裁切 */
    align-items: center; /* 垂直置中 */
    padding: 1rem; /* 確保內部填充 */
  }

  .imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 420px){
  .aboutContainer {
    width: 84%;
    overflow-x: hidden;
    padding: 5rem 1rem;
    padding-bottom: 1rem;
  }
  .learnButton{
    left: 25%;
    margin: 1rem auto; /* 上下邊距 1rem，左右自動 */
  }
}